#root, .App {
  height: 100vh;
}

.main-view {
  height: -webkit-fill-available;
}

.app-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.map-view{
  padding:10px 5px;
  width:100%;
  height:95%;
}